<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <div class="mt-5">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-basketball-ball"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Pickup Games Admin</div>
        </a>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-0 mt-5">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDashboard" aria-expanded="true"
            aria-controls="collapseDashboard">
            <i class="fas fa-user-astronaut"></i>
            <span>Player</span>
        </a>
        <div id="collapseDashboard" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'dashboard.player.list' %}">Player</a>
                <a class="collapse-item" href="{% url 'dashboard' %}">Attendance</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-tshirt"></i>
            <span>Team</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'dashboard.create.team' %}">Create a team</a>
                <a class="collapse-item" href="{% url 'dashboard.list.team' %}">Today's Team</a>
            </div>
        </div>
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
            aria-controls="collapseThree">
            <i class="fas fa-calendar"></i>
            <span>Match</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <a class="collapse-item" href="#">Create a Match</a> -->
                <a class="collapse-item" href="{% url 'dashboard.list.match' %}">Today's Match</a>
            </div>
        </div>
        <!-- <a class="nav-link collapsed" href="{% url 'dashboard.list.settings' %}" aria-expanded="true">
            <i class="fas fa-cog"></i>
            <span>Setting</span>
        </a> -->
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>