.center-position{
    margin-top: 20%;
    margin-left: 30%;
    margin-bottom: 20%;
}

.center-button-pick{
    margin-top: 20%;
}

.versus-bold{
    font-weight: 900;
}

/* th, td { white-space: nowrap; } */
th, td{
    max-width: 120px;
}


