{% extends 'layouts/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/team.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="card-body d-flex justify-content-center align-items-center middle-box">
    <form action="{% url 'dashboard.create.team' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="text-center">
                <h1>Ada berapa team yang akan tanding hari ini?</h1>
                <input type="text" class="form-control mt-3" id="team_count" name="team_count" placeholder="Jumlah team yang bertanding">
                <input type="submit" class="btn btn-large btn-info mt-3" value="Submit" />
            </div>
        </div>
    </form>
</div>
{% endblock %}