{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Detail Member for {{ team_info.team_name }}</h6>
</div>
<div class="card-body">
    <div class="text-right mb-3">
        <a href="{% url 'dashboard.random.pick' team_info.id %}" class="btn btn-large btn-info"
            style="font-weight: bold;">Random Pick Player</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable-member" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Alt. Position</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if team_member %}
                    {% for member in team_member %}
                        {% if member.full_name is not None %}
                        <tr>
                            <td>{{ member.full_name }}</td>
                            <td>{{ member.position }}</td>
                            <td>{{ member.alt_position }}</td>
                            <td>{{ member.height_in_centimeter }}</td>
                            <td>{{ member.weight_in_kilogram }}</td>
                            <td>{{ member.overall_rating }}</td>
                            <td>
                                <p class="btn btn-large btn-danger drop-player" member_id="{{ member.team_member_id }}" style="font-weight: bold;">Drop <i class="fas fa-arrow-circle-down"></i>
                                </p>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Player Attendance</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable-attendance" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Alt. Position</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for player in player_list %}
                <tr>
                    <td>{{ player.full_name }}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.alt_position }}</td>
                    <td>{{ player.height_in_centimeter }}</td>
                    <td>{{ player.weight_in_kilogram }}</td>
                    <td>{{ player.overall_rating }}</td>
                    <td>
                        <p class="btn btn-large btn-info pick-player" attendance_id="{{ player.player_attendance_id }}" team_id="{{ team_info.id }}" style="font-weight: bold;">Pick <i class="fas fa-arrow-circle-up"></i>
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/team/team-member.js' %}"></script>
{% endblock %}