{% extends 'layouts/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/team.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="card-body d-flex justify-content-center align-items-center middle-box">
    <form action="{% url 'dashboard.edit.team' team.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="text-center">
                <h1>Team name : {{ team.team_name }}</h1>
                <input type="text" class="form-control mt-3" id="team_name" name="team_name" value="{{ team.team_name }}">
                <input type="submit" class="btn btn-large btn-info mt-3" value="Submit" />
            </div>
        </div>
    </form>
</div>
{% endblock %}