{% extends 'layouts/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/team.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="card-body d-flex justify-content-center align-items-center middle-box">
    <form action="{% url 'dashboard.player.edit' player.id %}" method="POST">
        {% csrf_token %}
        <h1 class="m-3">Player name : {{ player.full_name }}</h1>
        <div class="form-group">
            <label for="player_full_name">Full Name</label>
            <input type="text" class="form-control" name="player_full_name" id="player_full_name" value="{{ player.full_name }}">
        </div>
        <div class="form-group">
            <label for="player_nick_name">Nick Name</label>
            <input type="text" class="form-control" name="player_nick_name" id="player_nick_name"
            value="{{ player.nick_name }}"
            >
        </div>
        <div class="form-group">
            <label for="player_back_number">Jersey Number</label>
            <input type="text" class="form-control" name="player_back_number" id="player_back_number"
            value="{{ player.back_number }}"
            >
        </div>
        <div class="form-group">
            <label for="player_overall_rating">Overall Rating</label>
            <input type="text" class="form-control" name="player_overall_rating" id="player_overall_rating"
            value="{{ player.overall_rating }}"
            >
        </div>
        <div class="form-group">
            <label for="player_position">Primary Position</label>
            <input type="text" class="form-control" name="player_position" id="player_position"
            value="{{ player.position }}"
            >
        </div>
        <div class="form-group">
            <label for="player_alt_position">Alternative Position</label>
            <input type="text" class="form-control" name="player_alt_position" id="player_alt_position"
            value="{{ player.alt_position }}"
            >
        </div>
        <input type="submit" class="btn btn-lg btn-primary" value="Submit">
    </form>
</div>
{% endblock %}