{% extends 'layouts/layout.html' %}
{% load static %}

{% block styles %}
<!-- Custom styles for this page -->
<link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Attendance Dashboard for {{ today }}</h6>
</div>
<div class="card-body">
  <form action="{% url 'dashboard.bulk.cancel' %}" method="post">
    <div class="row justify-content-end mb-3">
      <a href="{% url 'dashboard.upload' %}" class="btn btn-large btn-primary m-2" style="font-weight: bold;">Upload
        Attendance <i class="fas fa-upload"></i></a>
      <p id="delete-all" class="btn btn-large btn-danger m-2">Delete Attendance <i class="fas fa-trash"></i></p>
      <p id="cancel-all" class="btn btn-info m-2">Cancel <i class="fas fa-ban"></i></p>
      <input type="submit" id="submit-delete" class="btn btn-large btn-warning m-2" value="Submit" />
    </div>
    <br />
    {% csrf_token %}
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable-attendance" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="check-delete">
              <input type="checkbox" id="select-delete" />
            </th>
            <th>Name</th>
            <th>Position</th>
            <th>Alt. Position</th>
            <th>Datang pada jam berapa?</th>
            <th>Keterangan</th>
            <th class="check-delete"></th>
          </tr>
        </thead>
        <tbody>
          {% for attendance in attendance_list %}
            <tr>
              <td class="checkbox-delete"><input type="checkbox" name="check-cancel" id="check-cancel" value="{{attendance.id}}" /></td>
              <td>{{ attendance.player.full_name }}</td>
              {% if attendance.player.position != None %}
              <td>{{ attendance.player.position }}</td>
              {% else %}
              <td></td>
              {% endif %}
              {% if attendance.player.alt_position != None %}
              <td>{{ attendance.player.alt_position }}</td>
              {% else %}
              <td></td>
              {% endif %}
              {% if attendance.attendance_time != None %}
              <td>{{ attendance.attendance_time }}</td>
              {% else %}
              <td></td>
              {% endif %}
              {% if attendance.remarks != None %}
              <td>{{ attendance.remarks }}</td>
              {% else %}
              <td></td>
              {% endif %}
              <td class="check-delete">
                <a href="{% url 'dashboard.cancel' attendance.id %}" class="btn btn-large btn-danger">Cancel Kehadiran <i
                    class="fas fa-window-close"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
  
</div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/attendance/attendance.js' %}"></script>
{% endblock %}