{% extends 'layouts/layout.html' %}

{% load static %}

{% block content %}
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Team for today</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Play</th>
                    <th>Win</th>
                    <th>Draw</th>
                    <th>Lose</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for team in team_list %}
                <tr>
                    <td>
                        <a href="{% url 'dashboard.edit.team' team.id %}">
                            {{ team.team_name }}
                        </a>
                    </td>
                    <td>{{ team.play_count }}</td>
                    <td>{{ team.win_count }}</td>
                    <td>{{ team.draw_count }}</td>
                    <td>{{ team.lose_count }}</td>
                    <td>
                        {% if team.count_player == 5 %}
                            <span class="badge badge-success">Team is ready</span>
                        {% else %}
                            <span class="badge badge-danger">Team is not ready</span>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'dashboard.detail.team' team.id %}">See Member</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}