{% extends 'layouts/layout.html' %}
{% block content %}
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Settings</h6>
</div>
<div class="card-body">
    <a href="#" class="btn btn-info">Create a Parameters</a>
    <div class="table-responsive mt-3">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Time</td>
                    <td>07:00</td>
                    <td><a href="#">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}