{% extends 'layouts/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/create-match.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal"
            data-target=".bd-create-match-modal-lg">Schedule Match <i class="fas fa-calendar-alt"></i></button>
{% if stats_list %}
    {% for stats in stats_list %}
        <div class="row mt-3">
            <div class="card pt-5 pb-5 m-3" style="width: 100%">
                <div class="card-header text-center">
                    <div class="row">
                        <div class="col-md-4">{{ stats.home.name }}</div>
                        <div class="col-md-4">VS</div>
                        <div class="col-md-4">{{ stats.away.name }}</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <h5>Score<h1>{{ stats.home.score }}</h1></h5>
                        </div>
                        <div class="col-md-6">
                            <h5>Score<h1>{{ stats.away.score }}</h1></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <th>Name</th>
                                        <th>Number</th>
                                        <th>Total<br/>Scores</th>
                                        <th>Total</br>Rebound</th>
                                        <th>Total</br>Steal</th>
                                        <th>Total</br>Assists</th>
                                        <th>Total</br>Block</th>
                                    </thead>
                                    <tbody>
                                        {% for member in stats.home.members %}
                                            <tr>
                                                <td>{{ member.nick_name }}</td>
                                                <td>{{ member.back_number }}</td>
                                                <td>{{ member.total_score }}</td>
                                                <td>{{ member.total_rebound }}</td>
                                                <td>{{ member.total_steal }}</td>
                                                <td>{{ member.total_assists }}</td>
                                                <td>{{ member.total_block }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="col-md-6 text-center">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <th>Name</th>
                                        <th>Number</th>
                                        <th>Total<br/>Scores</th>
                                        <th>Total</br>Rebound</th>
                                        <th>Total</br>Steal</th>
                                        <th>Total</br>Assists</th>
                                        <th>Total</br>Block</th>
                                    </thead>
                                    <tbody>
                                        {% for member in stats.away.members %}
                                            <tr>
                                                <td>{{ member.nick_name }}</td>
                                                <td>{{ member.back_number }}</td>
                                                <td>{{ member.total_score }}</td>
                                                <td>{{ member.total_rebound }}</td>
                                                <td>{{ member.total_steal }}</td>
                                                <td>{{ member.total_assists }}</td>
                                                <td>{{ member.total_block }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}


<div class="row mt-3">
    <div class="table-responsive m-3">
        <table class="table table-bordered" id="dataTable-match" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Home</th>
                    <th>Away</th>
                    <th>Score</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if match_list %}
                    {% for match in match_list %}
                    <tr>
                        <td>{{ match.queue }}</td>
                        <td>{{ match.home_team.team_name }}</td>
                        <td>{{ match.away_team.team_name }}</td>
                        <td>{{ match.game_results_score }}</td>
                        {% if match.is_finished %}
                            <td></td>
                        {% else %}
                            <td><a href="{% url 'dashboard.pick.match' match.id  %}">Proceed to game</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade bd-create-match-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="col-lg-12">
                <div class="justify-content-center center-position">
                    <form action="{% url 'dashboard.list.match' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group" style="width: 50%;">
                            <select id="home_team" name="home_team" class="form-control form-control-lg">
                                <option value="0"></option>
                                {% for team in team_list %}
                                <option value="{{ team.id }}">{{ team.team_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <h6 style="margin-left:23%;font-weight: 900;">Vs.</h6>
                        <div class="form-group" style="width: 50%;">
                            <select id="away_team" name="away_team" class="form-control form-control-lg">
                                <option value="0"></option>
                                {% for team in team_list %}
                                <option value="{{ team.id }}">{{ team.team_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" class="btn btn-large btn-warning" value="Submit"
                            style="margin-left:20%;font-weight: 700;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}