{% extends 'layouts/layout.html' %}
{% load static %}

{% block styles %}
<!-- Custom styles for this page -->
<link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Player Registered</h6>
</div>
<div class="card-body">
  <div class="row justify-content-end mb-3">
    <a href="{% url 'dashboard.player' %}" class="btn btn-large btn-primary" style="font-weight: bold;">Register
      Player <i class="fas fa-upload"></i></a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable-player" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Nick. Name</th>
          <th>Position</th>
          <th>Alt. Position</th>
          <th>Jersey Number</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for player in player_list %}
        <tr>
          <td>
            <a href="{% url 'dashboard.player.edit' player.id %}">
              {{ player.full_name }}
            </a>
          </td>
          <td>{{ player.nick_name }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.alt_position }}</td>
          <td>{{ player.back_number }}</td>
          <td>{{ player.overall_rating }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/player/player.js' %}"></script>
{% endblock %}