{% extends 'layouts/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/fixedColumns.dataTables.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/create-match.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Stats for : {{ team.team_name }}</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable-match" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Jersey Number</th>
                    <th>Score</th>
                    <th>Score Attempt</th>
                    <th>3pt Score</th>
                    <th>3pt Score Attempt</th>
                    <th>Freethrow</th>
                    <th>Freethrow Attempt</th>
                    <th>Assists</th>
                    <th>Steal</th>
                    <th>Block</th>
                    <th>Turnover</th>
                    <th>Offensive Rebound</th>
                    <th>Defensive Rebound</th>
                    <th>Foul</th>
                </tr>
            </thead>
            <tbody>
                {% for stats in stats_list %}
                <tr>
                    <td>{{ stats.player_attendance.player.full_name }}</td>
                    <td>{{ stats.player_attendance.player.back_number }}</td>
                    <td>
                        <input id="score_{{ stats.id }}" type="text" style="max-width: 20%;" value="{{ stats.score }}"
                            disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="1">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="1">-
                        </p>
                    </td>
                    <td>
                        <input id="score_attempt_{{ stats.id }}" type="text" style="max-width: 20%;"
                            value="{{ stats.score_attempt }}" disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="2">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="2">-
                        </p>
                    </td>
                    <td>
                        <input id="three_point_score_{{ stats.id }}" type="text" style="max-width: 20%;"
                            value="{{ stats.three_point_score }}" disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="3">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="3">-
                        </p>
                    </td>
                    <td>
                        <input id="three_point_score_attempt_{{ stats.id }}" type="text" style="max-width: 20%;"
                            value="{{ stats.three_point_attempt_score }}" disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="4">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="4">-
                        </p>
                    </td>
                    <td>
                        <input id="freethrow_score_{{ stats.id }}" type="text" style="max-width: 20%;"
                            value="{{ stats.freethrow_score }}" disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="11">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="11">-
                        </p>
                    </td>
                    <td>
                        <input id="freethrow_attempt_{{ stats.id }}" type="text" style="max-width: 20%;"
                            value="{{ stats.freethrow_attempt }}" disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="12">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="12">-
                        </p>
                    </td>
                    <td>
                        <input id="assists_{{ stats.id }}" type="text" style="max-width: 20%;"
                            value="{{ stats.assists }}" disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="5">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="5">-
                        </p>
                    </td>
                    <td>
                        <input id="steal_{{ stats.id }}" type="text" style="max-width: 20%;" value="{{ stats.steal }}"
                            disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="6">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="6">-
                        </p>
                    </td>
                    <td>
                        <input id="block_{{ stats.id }}" type="text" style="max-width: 20%;" value="{{ stats.block }}"
                            disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="7">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="7">-
                        </p>
                    </td>
                    <td>
                        <input id="turnover_{{ stats.id }}" type="text" style="max-width: 20%;"
                            value="{{ stats.turnover }}" disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="8">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="8">-
                        </p>
                    </td>
                    <td>
                        <input id="offensive_rebound_{{ stats.id }}" type="text" style="max-width: 20%;"
                            value="{{ stats.offensive_rebound }}" disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="9">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="9">-
                        </p>
                    </td>
                    <td>
                        <input id="defensive_rebound_{{ stats.id }}" type="text" style="max-width: 20%;"
                            value="{{ stats.defensive_rebound }}" disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="10">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="10">-
                        </p>
                    </td>
                    <td>
                        <input id="foul_{{ stats.id }}" type="text" style="max-width: 20%;"
                            value="{{ stats.foul }}" disabled>
                        <p class="btn btn-small btn-primary score-plus" stats_id="{{ stats.id }}" stats_tipe="13">+
                        </p>
                        <p class="btn btn-small btn-danger score-minus" stats_id="{{ stats.id }}" stats_tipe="13">-
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row justify-content-center">
    <a href="{% url 'dashboard.finish.game' match.id team.id flag %}" class="btn btn-large btn-danger text-center" style="font-weight: bold;">FINISH</a>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/stats/stats.js' %}"></script>
<script src="{% static 'js/dataTables.fixedColumns.min.js' %}"></script>
{% endblock %}