{% extends 'layouts/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/create-match.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="col-lg-12 center-button-pick">
    <div class="row justify-content-center">
        <a href="{% url 'dashboard.pick.stats' match.id 1 %}" class="btn btn-large btn-success">Pick Home Team : {{ match.home_team.team_name }}</a>
    </div>
    <div class="row justify-content-center">
        <h6 class="versus-bold">Vs.</h6>
    </div>
    <div class="row justify-content-center">
        <a href="{% url 'dashboard.pick.stats' match.id 0 %}" class="btn btn-large btn-danger">Pick Away Team : {{ match.away_team.team_name }}</a>
    </div>
</div>
{% endblock %}