{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center" style="margin-top: 30%;">
    <form action="{% url 'dashboard.player' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="file_excel_attendance">File Registration <i class="fas fa-upload"></i></label>
            <input type="file" class="form-control-file" id="file_excel_player" name="file_excel_player" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>
        <input class="btn btn-large btn-primary" type="submit" value="UPLOAD" style="font-weight: bold;">
    </form>
</div>
{% endblock %}